services:
  postgres:
    container_name: postgres
    image: postgres:latest
    env_file:
      - .env
    ports:
      - '5432:5432'
    networks:
      - reader-backend-network

networks:
  reader-backend-network:
    driver: bridge
